body {
  font-size: 14px;
  font-family: arial, sans-serif;
  color: #202124;
}
.logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5%;
  margin-bottom: 2%;
}
img {
  width: 30%;
}
.main {
  text-align: center;
}
#txtsearch {
  width: 47%;
  height: 30px;
  border: 1px solid #cdcdcd;
  border-radius: 10px;
  display: block;
  margin: 0 auto;
  padding: 0 15px;
}
#txtsearch:hover {
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}
#txtsearch:focus {
  outline: none;
}
.btn {
  text-align: center;
  margin-top: -2%;
}
#btn1,
#btn2 {
  margin-right: 2%;
  background-color: #f8f9fa;
  border: 1px solid #f8f9fa;
  border-radius: 4px;
  color: #3c4043;
  font-family: Helvetica Neue, Noto Naskh Arabic UI, Arial, sans-serif;
  font-size: 14px;
  margin: 11px 4px;
  padding: 0 10px;
  line-height: 27px;
  height: 36px;
  min-width: 54px;
  text-align: center;
  cursor: pointer;
  user-select: none;
}
#btn1:hover {
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}
#btn2:hover {
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}

#btn1:focus {
  border-color: rgb(0, 140, 255);
  border-style: solid;
  border-width: 1px;
}
#btn2:focus {
  border-color: rgb(0, 140, 255);
  border-style: solid;
  border-width: 1px;
}
